body{

}

.navbar-brand{
  padding-left: 10px;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h1 {
   font-family: 'Montserrat, sans-serif';
   font-size: 3rem;
   line-height: 1.5;
   padding-left: 20px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 900;
 }

 #title{
   background-color: #ff4c68;
 }
